.search-bar {
    width: 90%;
}

.settings-icon {
    position: relative;
    float: right;
}

.wb-article-img {
    position: relative;
    float: right;
}

.wb-post {
    font-size: 13px;
}

.wb-title {
    font-weight: bold;
}

.wb-description {
    font-weight: bold;
}

.who-to-follow-pfp {
    position: relative;
    float: left;
}

.who-to-follow-entry {
    font-size: 9px;
}

.who-to-follow-button {
    position: relative;
    float: right;
    width: 75px;
    height: 35px;
    font-size: 10px;
    text-align: center;
}

.tweet-button {
    width: 100%;
}